# Import Packages

In [1]:
# Libraries for data loading, manipulation and analysis
import numpy as np
import pandas as pd

# Libraries for Natural Language processing
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, TreebankWordTokenizer
from nltk.stem import WordNetLemmatizer

# Libraries for Data Preparation and Model Building
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC

# Libraries for Model Evaluation
from sklearn.metrics import f1_score, precision_score, recall_score, confusion_matrix
from sklearn.metrics import classification_report, accuracy_score
from sklearn import metrics

# Libraries for Handing Errors
import warnings
warnings.filterwarnings('ignore')

# Import Datasets

In [2]:
# import and copy training dataset
train = pd.read_csv("train_set.csv")
train_copy = train.copy()

In [3]:
# import and copy test dataset
test = pd.read_csv("test_set.csv")
test_copy =test.copy()

# Exploratory Data Analysis

In [4]:
test_copy.head()

   index                                               text
0      1  Mmasepala, fa maemo a a kgethegileng a letlele...
1      2  Uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3         Tshivhumbeo tshi fana na ngano dza vhathu.
3      4  Kube inja nelikati betingevakala kutsi titsini...
4      5                      Winste op buitelandse valuta.

In [5]:
test_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5682 entries, 0 to 5681
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   5682 non-null   int64
 1   text    5682 non-null   object
dtypes: int64(1), object(1)
memory usage: 88.9+ KB